p {
    min-height: 5rem;
    border: 1px solid var(--gray);
    line-height: 100%;
    font-size: 4rem;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 1rem;
    padding: .25rem;
    background-color: var(--light);
}